header{
  padding: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background: lightgreen;
}
ul{
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}
li{
  margin: 0 10px;
}
